body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: "Inter", "Arial", sans-serif;
}
h1, 
h2,
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
    margin: 0;
    padding: 0;
}
.content-section {
    margin: 0 auto;
    box-sizing: border-box;
    width: 360px;
}
header {
    height: 132px;
    box-sizing: border-box;
    padding: 24px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 168px;
    background-color:rgba(0, 0, 0, 1);
}
.header__logo-image {
    height: 15.43px;
    width: 78.45px;
}
.header__menu-list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F5F5F5;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}
.header__menu-link {
    color: #F5F5F5;
}
.cover {
    min-height: 221px;
    background-color:rgba(0, 0, 0, 1);
    background-image:url(../images/cover.svg);
    background-size: 95% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
}
.accent-span {
    display: block;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 0 20px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.intro {
    min-height: 453px;
    padding: 30px 20px 35px 20px;
    background-color:rgba(0, 0, 0, 1);
}
.intro__heading {
    display: flex;
    padding-bottom: 24px;
    gap: 12px;

}
.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color:rgba(204, 204, 204, 1);
    width: 203px;
    height: 38px;
}
.intro__date {
    white-space: nowrap;
    width: 101px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color:rgba(204, 204, 204, 1);
    align-items: flex-end;
}
.intro__main-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reasons {
    height: 1368px;
    padding: 40px 20px;
    background-color: #FEE42A;
}
.content-section__subtitle {
    width: 320px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    color: #131313;
    height: 63px;
}
.reasons__text-right {
    text-align: right;
    display: block;
}
.content-section__introduction {
    width: 320px;
    height: 297px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #131313;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0;
}
.content-section__list-accent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.6px;
}
.content-section__list {
    height: 865px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
    
}
.content-section__list-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.how-to {
    min-height: 1749px;
    padding: 40px 20px 40px 20px;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
}
.content-section__subtitle__how-to {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: #F5F5F5;
}
.text-right-how-to {
    display:block;
    text-align: right;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    color: #F5F5F5;
}
.accent-span-how-to {
    display: block;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px; 
    color:#F5F5F5;
    line-height: 115%;
}
.content-section__introduction__how-to {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #F5F5F5;
    padding: 32px 0;
}
.card__author-photo {
    width: 100px;
    height: 100px;
}
.card__author-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #F5F5F5;
}
.card__title {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 135%;
    color: #F5F5F5;
}
.card__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
}
.card_theme_dark {
    background-color: #1e1e1e;
}
.polyarinov {
    box-sizing: border-box;
    padding: 20px;
    min-height: 495px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 30px;
}
.card_theme_bright {
    background-color: #FEE42A;
    min-height: 368px;
    width: 320px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    margin: 32px 0;
}
.card__title__bright {
    width: 279px;
    height: 59px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 135%;
    color: #131313;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.card__text__bright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 8px;
}
.bunin {
    box-sizing: border-box;
    padding: 20px;
    min-height: 559px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 30px;
}
footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 360px;
    height: 62px;
    left: 0px;
    top: 4098px;
    border-top: 1px solid #FEE42A;
    background-color: rgba(0, 0, 0, 1);
}
.footer__copy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #F5F5F5;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
}
.links {
    width: 19px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #F5F5F5;
    text-decoration: none;
    margin: 0 8px;
}